<h1><%= t '.title' %></h1>
<p>
	<%=  t '.body', full_name: @user.full_name %>
</p>
<p>
	<%= t '.confirm_email.html', link: link_to(@confirmation_link, @confirmation_link) %>
</p>
<p>
	<%= t '.thanks_html', link: link_to('alexfalcucci.com', root_url) %>
</p>