<div class="jumbotron">
      <div class="container">
      <% if user_signed_in? %>
        <h1>Hello, <%= @user.full_name %>!</h1>
        <p>This project can be useful to serve as base other projects. Kickstart a new Rails project with a Github fork in below repository.</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/alexfalcucc/app-ruby" role="button" target="_blank">Fork me! &raquo;</a></p>
        <% else %>
        <h1>Hello!</h1>
        <p>Sign up and get a base to your Rails projects.</p>
        <p><a class="btn btn-primary btn-lg" href="<%= new_user_path  %>" role="button">Sign up! &raquo;</a></p>
      <% end %>
      </div>
    </div>