<div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
        <div class="modal-content">
            <div class="panel-heading">
                <h3 class="panel-title">Sign In</h3>
            </div>
            <%= render 'form' %>
		</div>
    </div>
</div>
